*.pyc
/dist
*/*.egg-info
/.cache
/.ipynb_checkpoints
.Rhistory
/build
/.eggs
/.coverage
/htmlcov
.Dockerfile
.dockerignore
.pytest_cache
/.tox
.Rapp.history
E2E_tests
pyinstaller/**/build
pyinstaller/**/dist
pyinstaller/**/seaflowpy.spec
