*.pyc
*/*.egg-info
/.cache
/.eggs
/.coverage
/htmlcov
.pytest_cache
/.tox
.Rapp.history
.Rhistory
pyinstaller/**/build
pyinstaller/**/dist
pyinstaller/**/seaflowpy.spec
*.ipynb
/.ipynb_checkpoints
.vscode
.pylintrc
.Dockerfile
.dockerignore
