bcrypt==3.1.7
boto3==1.14.32
botocore==1.17.32
cffi==1.14.1
click==7.1.2
cryptography==3.2
cycler==0.10.0
Cython==0.29.21
docutils==0.15.2
Fabric3==1.14.post1
hdbscan==0.8.26
jmespath==0.10.0
joblib==0.16.0
kern-smooth==1.0.14
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
pandas==1.1.0
paramiko==2.7.1
Pillow==7.2.0
pyarrow==1.0.0
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.25.10
